.product{
    display:flex;
    flex-direction:column;
    

    justify-content:flex-end;
    margin:10px;
    padding:20px;
    width:100%;
    max-height: 300px;
    max-width:300px;
    border: 1px solid rgb(234,237,237);


    border-radius: 12px;

    background-color:white;
    z-index: 1;



}

.checkoutProduct{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:10px;
    width:500px;
    border: 1px solid grey ;
    border-radius: 12px;
    display:flex;
    flex-direction:column;
    display: inline-block;
    justify-content:space-evenly;

}




.checkoutProduct_image{
    max-width: 300px;
    margin-top:10px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-left:10px;
    border-radius:12px;
    justify-content:center;

    


}

.checkoutProduct_info{
    margin-top: 5px;
    display:flex;
    flex-direction:column;
    align-items:left;
    margin-left:10px;
    font-family: 'Karla', sans-serif;
    text-align:center;


}
.btn{
    margin-bottom: 20px;
    width: 450px;
    height:5vh;
    background-color:aquamarine;
    border: 4px solid;
    border-radius: 8px;
    margin-top:10px;
    border-color: aquamarine;
    color:#111;
    font-weight:600;
    cursor: pointer;
    font-size:18px;
    font-family: 'ZCOOL QingKe HuangYou';
    margin-left:10px;
    align-items:center


    

}